/****** Zero out CSS Start ******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/****** Zero out CSS End ******/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #22c1c3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #22c1c3, #fdbb2d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #22c1c3, #fdbb2d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    max-height: 80vw;
    min-height: 490px;
    width: 50%;
    max-width: 50vh;
    min-width: 320px;
    border: 2px rgba(255, 255, 255, 0.5) solid;
    border-radius: 5px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: rgba(169, 169, 169, 0.2);
    padding: calc(0.5em + 1%);
}
.screen {
	display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 98%;
    background-color: rgba(193, 193, 193, 0.35);
    border-radius: 5px;
    padding-right: 15px;
    padding: 10% 1%;
    font-size: calc(1em + 1.5vw);
    color: rgba(255, 255, 255, 0.5);
    text-align: right;
}
.buttons {
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 2%;
}
.buttons > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    max-height: 1em;
    width: 20%;
    border: 2px rgba(255, 255, 255, 0.5) solid;
    border-radius: 50em;
    margin: 1.8%;
    padding: calc(10% - 0.5em) 0;
    font-size: calc(1em + 1vw);
    font-weight: 700;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.buttons > .zero {
    width: 40%;
}